@import 'reset';

//dimensions
$d1: 60vh;
$d2: 93vh;

// border radiuses
$br: 3vh;
$brr: 20vh;

@font-face {
    font-family: gameboy;
    src: url(../assets/fonts/gameboy.ttf);
}

.container {
    width: 100vw;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-body {
    position: absolute;
    background: #EAE1DC;
    // width: $d1;
    height: 100vh;
    // height: $d2;
    display: flex;
    justify-content: center;
    border-radius: $br;
    border-bottom-right-radius: $brr;
}

.game-screen {
    position: absolute;
    background: #858391;
    width: $d2 / 2;
    height: $d1 / 1.7;
    top: 9vh;
    border-radius: $br;
    border-bottom-right-radius: $brr / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    position: absolute;
    background: green;
    width: $d2 / 3.1;
    height: $d1 / 2.4;
    font-family: 'gameboy', monospace;

    ul {
        padding: 10px;
        line-height: 25px;

        li {
            padding: 5px;
            cursor: pointer;



            width: fit-content;

            a {
                padding: 0 6px;

                text-decoration: none;


                &:link {
                    color: #181818;
                }

                &:visited {
                    color: #181818;
                }

                &:hover,
                &:active,
                &:focus {
                    background: #004e0d;
                    color: #181818;
                    outline: none;
                }
            }

        }
    }
}

.game-d-pad {
    width: 120px;
    height: 120px;
    position: absolute;
    left: -140px;
    top: 58%;
}

.d-pad--up {
    position: absolute;
    background: #404040;
    width: 30px * 1.25;
    height: 35px * 1.25;
    left: 35%;
    box-shadow: inset 0px 3px 0 2px #5a5959;
}

.d-pad--right {
    position: absolute;
    background: #404040;
    width: 30px * 1.25;
    height: 35px * 1.25;
    left: 67%;
    transform: rotate(90deg);
    top: 33%;
    box-shadow: inset 0px 3px 0 2px #5a5959;
}

.d-pad--down {
    position: absolute;
    background: #404040;
    width: 30px * 1.25;
    height: 35px * 1.25;
    left: 35%;
    bottom: 0;
    box-shadow: inset 0px -3px 0 2px #5a5959;
}

.d-pad--left {
    position: absolute;
    background: #404040;
    width: 30px * 1.25;
    height: 35px * 1.25;
    left: 3%;
    transform: rotate(90deg);
    top: 33%;
    box-shadow: inset 0px -3px 0 2px #5a5959;
}

.d-pad--center {
    position: absolute;
    width: 37px;
    height: 38px;
    background: #404040;
    top: 35%;
    left: 35%;
    box-shadow: inset 0 0 20px 0px #070707;
}

.a-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    bottom: 35%;
    right: -150px;
    box-shadow: -1px 3px #7f0b0b, inset -3px -1px 6px 0px #7f0b0b;

    &:active {
        background: #a20000;
    }

    &::after {
        content: "A";
        position: absolute;
        bottom: -21px;
        left: 20px;
        font-family: 'gameboy', monospace;
    }
}

.b-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    bottom: 26%;
    right: -103px;
    box-shadow: -1px 3px #7f0b0b, inset -3px -1px 6px 0px #7f0b0b;

    &:active {
        background: #a20000;
    }

    &::after {
        content: "B";
        position: absolute;
        bottom: -21px;
        left: 20px;
        font-family: 'gameboy', monospace;
    }
}


@media only screen and (max-width: 385px) {
    .game-body {
        background: none;
    }

    .container {
        background: #EAE1DC;
    }
}